@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

hero {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 120%;
	line-height: 120%;
	font-weight: 570;
	letter-spacing: -.03em;
}

p {
	font-size: 100%;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: rgba(255, 49, 68, 1);
}

/* NAVIGATION */

.bloomberg {
	padding: 8px 0px;
	border-bottom: 1px dotted rgba(0,0,0, .9);
}

.bloomberg-title {
	font-size: 120%;
	font-weight: 800;
	letter-spacing: -.03em;
	color: black;
}

.segura-button {
	text-decoration: none;
	border-radius: 8px;
	margin-top: 88px;
	padding: 12px;
	background-color: rgba(0,0,0, .06);
}

.hero-group {
	margin: 0 auto;
	max-width: 500px;
	padding: 150px 0px;
}

.topbar {
	margin-top: 80px;
	margin-bottom: 110px;
	text-align: center;
	padding: 0;
}

.segura-nav {
	
}

.nav {
	padding: 8px 12px;
	border-radius: 6px;
	margin: 0px 5px;
	border: 1px solid rgba(0,0,0, .09);
	color: black;
}

.profile-picture {
	width: 150px;
	height: 150px;
	margin-bottom: 2em;
	border-radius: 12px;
}
